body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #ff4081;
}

.card {
  background-color: #1e1e1e;
  padding: 20px 40px;
  margin: 10px auto;
  border-radius: 12px;
  width: 200px;
  transition: 0.3s;
}

#bpm, #spo2 {
  font-size: 3em;
  margin: 0;
}

.card.alert {
  background-color: #ff4444;
}
